{% extends 'test.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet"
          href="{% static 'plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}



    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">添加用户</h3>
                </div>
                <div class="panel-body">

                    <form method="post" novalidate>
                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group">
                                <label autocomplete="false"> {{ field.label }} </label>
                                {{ field }}
                                <span style="color: darkred">
                                      {{ field.errors.0 }}
                                </span>

                            </div>
                        {% endfor %}


                        <button type="submit" class="btn btn-success">保存</button>
                    </form>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static 'plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
        $(function () {
            $('#id_create_time').datetimepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: 'zh-CN',
                autoclose: true

            })
        })
    </script>
{% endblock %}